* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Caveat', cursive;
	background: black;
	color: #408EC6;
}
.wrap {
	display: flex;
	justify-content: center;
	text-align: center;
}


.title {
	margin-bottom: 1rem;
	color: #7A2048;
	font-size: 3.5rem;
}

.title span {
	transition: 1.8s;
}

.title:hover span, .btn-add:hover, .btn-delete:hover, .input {
	text-shadow: 0 0 10px rgba(52, 231, 255, 0.658),
					 0 0 20px #6eecfd,
					 0 0 40px #CFF9FF,
					 0 0 60px #FFDA72,
					 0 0 80px rgb(255, 255, 255),
					 0 0 120px rgb(255, 255, 255);
}

.input {
	margin-bottom: 1.5rem;
	font-family: 'Caveat', cursive;
	background-color: black;
	color: #408EC6;
	border-bottom: 1px solid #7A2048;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
}

.btn-add {
	font-family: 'Caveat', cursive;
	font-size: 1.5rem;
	color: #7A2048;
	font-weight: 700;
	border: none;
	background: none;
	outline: none;
}


li {
	font-size: 1.5rem;
	list-style: none;
}

.li-active {
	color: #032a46;
	text-decoration: line-through;
}

.btn-delete {
	position: fixed;
	font-size: 7px;
	font-weight: 900;
	color: #7A2048;
	border: none;
	background: none;
	outline: none;
}